/TradeLiteAppServer/TradeLiteAppServer/bin
/TradeLiteAppServer/TradeLiteAppServer/obj
/TradeLiteAppServer/TradeLiteAppServer/*.user
/TradeLiteAppServer/TradeLiteAppServer.v11.suo
/TradeLiteClient/app/.idea
